// Colors

$color-brand-primary:           #FFFFFF;
$color-brand-accessible:        #FFFFFF;
$color-brand-secondary:         #FFFFFF;
$color-brand-light:             #FFFFFF;

$color-ui-black:                black;
$color-ui-white:                white;

// Black and gray ui colors (intensity as coffee roasts)
$color-ui-default:              $color-ui-white;
$color-ui-darkest:              #1A1B1E;
$color-ui-dark:                 rgba(255, 255, 255,0.1);
$color-ui-medium:               rgba(255, 255, 255,0.3);
$color-ui-light:                rgba(255, 255, 255,0.5);
$color-ui-lighter:              rgba(255, 255, 255,0.7);

$color-ui-action:               $color-brand-accessible;


// Typography

$base-font-family:              'IBM Plex Sans', sans-serif;
$base-font-features:            "liga" 1, "kern" 1, "salt" 1;
// aalt case dnom frac kern liga numr onum pnum sinf sups tnum
$monospace-font-family:         'IBM Plex Sans', sans-serif;
$monospace-font-features:       "tnum" 1;

$font-weight-light:             300;
$font-weight-regular:           400;
$font-weight-medium:            500;
$font-weight-semibold:          600;
$font-weight-bold:              700;
$font-weight-extrabold:         800;

$h4-font-size:                  3.2rem;
$h4-line-height:                4.8rem;
$h4-letter-spacing:             0;
$h4-font-weight:                $font-weight-medium;
$h4-margin-bottom:              3.2rem;

$h5-font-size:                  2.4rem;
$h5-line-height:                3.2rem;
$h5-letter-spacing:             0;
$h5-font-weight:                $font-weight-medium;
$h5-margin-bottom:              3.2rem;

$h6-font-size:                  2.0rem;
$h6-line-height:                2.4rem;
$h6-letter-spacing:             0.015rem;
$h6-font-weight:                $font-weight-medium;
$h6-margin-bottom:              2.4rem;

$body1-font-size:               1.6rem;
$body1-line-height:             2.4rem;
$body1-letter-spacing:          0.044rem;
$body1-font-weight:             $font-weight-regular;
$body1-margin-bottom:           0;

$body2-font-size:               1.4rem;
$body2-line-height:             2.0rem;
$body2-letter-spacing:          0.025rem;
$body2-font-weight:             $font-weight-regular;
$body2-margin-bottom:           0;

$caption-font-size:             1.4rem;
$caption-line-height:           2.4rem;
$caption-letter-spacing:        0.02rem;
$caption-font-weight:           $font-weight-regular;
$caption-margin-bottom:         2.4rem;

$button-font-size:              1.6rem;
$button-line-height:            2.4rem;
$button-letter-spacing:         0.08rem;
$button-font-weight:            $font-weight-medium;
$button-text-transform:         uppercase;
$button-color:                  $color-ui-white;


// UI knick knacks

$base-border-radius:            4px;
$base-box-shadow:               0 0 2px 0 rgba(11, 7, 181, .08), 0 2px 2px 0 rgba(0, 0, 0, .08), 0 0 2px 0 rgba(11, 7, 181, .16);
// $base-box-shadow:               0 4px 12px 0 rgba(0, 0, 0, .12), 0 12px 24px 0 rgba($color-brand-secondary, .12);


// Z indeices

$zindex-dropdown:               1000;
$zindex-sticky:                 1020;
$zindex-fixed:                  1030;
$zindex-modal-backdrop:         1040;
$zindex-modal:                  1050;
$zindex-popover:                1060;
$zindex-tooltip:                1070;


// Grid system

$breakpoints: (
  xs:     375px,
  sm:     576px,
  md:     812px,
  lg:     992px,
  xl:     1248px,
  ul:     1408px
);

$grid-max-columns:              12;
$grid-gutter:                   32px;

$container-max-width:           1408px;


// Sections

$section-padding-top:           48px;
$section-padding-bottom:        48px;

$section-padding-top-lg:        80px;
$section-padding-bottom-lg:     80px;

$section-bg:                    $color-ui-darkest;
