<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ $.Param "meta.description" }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <title>{{ $.Param "long_title" }} &ndash; {{ .Site.Params.title }}</title>
  {{ $style := resources.Get "scss/main.scss" | toCSS | postCSS | minify | fingerprint }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet">
</head>

<body>

  {{ partial "header.html" . }}

  <main>

    <section class="content light">
      <div class="container">
        {{ .Content }}
      </div>
    </section>

  </main>

  {{ partial "footer.html" . }}

  {{ template "_internal/google_analytics_async.html" . }}
</body>

</html>